*{
    font-family:Arial, Helvetica, sans-serif;
}

/*CABECERA*/

.imagen100{
    width:100%;
    margin-bottom: 0;
}

#titulo, #subtitulo{
    text-align: center;
    color: white;
    background-color: black;
}

#titulo{
    font-size: 5em;
    margin-top: -5px;
    margin-bottom: 0;
}

#subtitulo{
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
}

/*NAVEGACIÓN*/

#navegacion{
    text-align: center;
    background-color: black;
    margin-bottom:75px;
}

#navegacion ul{
    list-style: none;
    margin-top: 0; 
    padding: 15px;
}

#navegacion ul a{
    text-decoration: none;    
}

#navegacion ul li{
    display: inline;
    color: white;
    padding: 15px 20px;
    font-size: 1em;
}

#navegacion ul a li:hover{
    background-color: gray;
}

/*ARTÍCULOS*/

.titulo100{
    text-align: center;
    font-size:6em;
    margin: 0;
}

.parrafo100{
    text-align: center;
    color:gray;
    font-size: 1.3em;
    padding: 15px 20%;
}

.enlace100{
    display: block;
    text-align: center;
    color:gray;
    text-decoration: none;
    font-size: 1.3em;
}

.enlace100:hover{
    text-decoration: underline;
}

.articulo50{
    width:45%;
    float:left;
}
